.checkout-container {
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    min-height: calc(100dvh - 85.26px - 271.73px - 40px - 13px);
}

.checkout-container form {
    display: flex;
    flex-direction: column;
}

.checkout-container label {
    margin-bottom: 10px;
}

.checkout-container input {
    padding: 8px;
    margin-top: 4px;
}

.checkout-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
