.hotel-description {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin: 20px;
}



.hotel-page-container {
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.hotel-header h1 {
  color: #2e2e2e;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 28px;
}

.hotel-main-content {
  display: flex;
  gap: 20px;
  overflow: visible;
}

.any-transformed-or-filtered-parent {
  transform: none;
  filter: none;
}

.hotel-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hotel-details {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  gap: 10px;
}

.hotel-details h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

.hotel-details p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.hotel-details strong {
  color: #333;
}

.book-now-btn {
  background-color: #f9d9d8;
  color: #5a0032;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.875rem 1rem;
  transition: 0.5s linear;
  margin-right: 50px;
}

.book-now-btn:hover {
  border-radius: 1rem;
}

.book-now-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.hotel-main-content .calendarElement {
  position: absolute;  /* Absolute position relative to .calendarWrap */
  left: -150%;  /* Aligns with the left edge of the calendar input */
  top: -950%; /* Moves the calendar above the input, adjust according to actual height */
}

/* Responsive Design */
@media (max-width: 1024px) {
  .hotel-main-content {
    flex-direction: column;
  }
  .hotel-main-content .calendarWrap {
    position: relative;  /* Ensures positioning is relative to this container */
    display: inline-block; /* Keeps the inline behavior of the input */
  }

  .hotel-main-content .calendarElement {
    position: absolute;  /* Absolute position relative to .calendarWrap */
    left: 0;  /* Aligns with the left edge of the calendar input */
    top: -950%; /* Moves the calendar above the input, adjust according to actual height */
    z-index: 105;  /* Ensures it appears above other content */
    width: 100%; /* Match the width to your input field or according to design needs */
  }

}

@media (max-width: 768px) {
  .hotel-page-container {
    padding: 15px;
  }

  .hotel-header h1 {
    font-size: 24px;
  }

  .hotel-details h2 {
    font-size: 20px;
  }

  .hotel-details p {
    font-size: 14px;
  }

  .book-now-btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .hotel-header h1 {
    padding-bottom: 5px;
  }

  .book-now-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }

}
