.SearchResults {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

/* Modified the grid to have only one column */
.search .listings-grid {
  display: grid;
  grid-template-columns: 1fr; /* Only one column */
  gap: 20px;
}

.listing-card {
  margin-top: 40px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Added to handle overflow */
}

.listing-card h2 {
  margin-top: 0;
  color: #333;
  font-size: 30px;
  font-family: "Main";
  margin-left: 20px;
}

.listing-card p {
  margin: 5px 0;
  color: #666;
  font-family: "Main";
  margin-left: 20px;
}

.price {
  font-weight: bold;
  color: #4caf50;
}

.hotel-image {
  width: 100%; /* Ensures the image takes the full width of the card */
  height: auto; /* Maintains aspect ratio */
  border-radius: 8px; /* Styled corners */
  margin-bottom: 10px; /* Space between the image and the text below */
}

.listing-card {
  /* existing styles */
  position: relative; /* Added to position the button relative to the card */
}

.book-button {
  position: absolute; /* Position the button relative to the listing-card */
  bottom: 25px; /* 15px from the bottom */
  right: 35px; /* 15px from the right */
  padding: 0.875rem 1rem;
  background-color: #f9d9d8;
  color: #5a0032;
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Cursor changes to pointer on hover */
  transition: 0.5s linear;
  border-radius: 0.5rem;
}

.book-button:hover {
  border-radius: 1rem;
}
.search-bar-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensure it takes the full width */
  padding: 20px 0; /* Add some padding above and below */
}

.sort-dropdown-container {
  margin-bottom: 20px; /* Space below the sort dropdown */
  text-align: left; /* Center align the dropdown */
}

.sort-dropdown-container label {
  font-family: "Main", sans-serif; /* Consistent font family */
  color: #333; /* Dark grey text color */
  margin-right: 10px; /* Space between label and dropdown */
  font-size: 18px; /* Slightly larger font size */
}

.sort-dropdown-container select {
  padding: 10px 20px; /* Padding for better touch interaction */
  font-family: "Main", sans-serif;
  font-size: 16px;
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 8px; /* Rounded corners */
  background-color: white; /* White background */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.sort-dropdown-container select:hover {
  background-color: #f4f4f4; /* Slight change on hover */
}

.sort-dropdown-container select:focus {
  outline: none; /* Remove default focus outline */
  border-color: #4caf50; /* Highlight color when focused */
}
