.MainSearch {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Reconsider if you need padding as it affects the total height */
  height: calc(
    100vh - 60px
  ); /* Subtract the navbar height, adjust if different */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.MainItems {
  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.MainItems h1 {
  position: center;

  width: max-content;
  color: white;
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 0;
}

/* Styles for mobile devices */
@media (max-width: 768px) {
  .MainItems h1 {
    font-size: 24px; /* Smaller font size for smaller screens */
    top: 150px;
  }

  .MainSearch {
    height: calc(
      100vh - 100px
    ); /* Adjust the navbar height for mobile devices if needed */
  }
}

/* Styles for larger screens if needed */
@media (min-width: 769px) {
  .MainSearch {
    /* If the navbar height is different or other styles need to change on larger screens */
    height: calc(
      100vh - 60px
    ); /* Ensure this matches the actual navbar height */

    width: 100%;
  }

  .MainItems h1 {
  }

  /* Add any other styles for larger screens here */
}
