.MainSearch {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Reconsider if you need padding as it affects the total height */
  height: calc(
    100vh - 60px
  ); /* Subtract the navbar height, adjust if different */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.MainItems {
  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.MainItems h1 {
  position: absolute;
  top: 265px; /* This will need adjusting if the navbar height is different */
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  color: white;
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 0;
}

/* Styles for mobile devices */
@media (max-width: 768px) {
  .MainItems h1 {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px; /* Smaller font size for smaller screens */
    top: 190px;
  }

  .MainSearch {
    height: calc(
      100vh - 100px
    ); /* Adjust the navbar height for mobile devices if needed */
  }
}

/* Styles for larger screens if needed */
@media (min-width: 769px) {
  .MainSearch {
    /* If the navbar height is different or other styles need to change on larger screens */
    height: calc(
      100vh - 60px
    ); /* Ensure this matches the actual navbar height */

    width: 100%;
  }

  .MainItems h1 {
    /* Adjustments for larger screens if needed */
    top: 310px; /* Align with the design requirements */
    font-size: 48px; /* Consistent font size with the original style */
    /* Add any additional styles for larger screens here */
  }

  /* Add any other styles for larger screens here */
}
