/* Base Styles */
.RegistrerForm .container {
    padding: 16px;
}

.RegistrerForm input[type="text"],
.RegistrerForm input[type="password"],
.RegistrerForm input[type="tel"],
.RegistrerForm select,
.RegistrerForm input[type="date"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block; /* Make sure inputs display as block to fill the width */
    border: none;
    background: #f1f1f1;
}

.RegistrerForm input[type="text"]:focus,
.RegistrerForm input[type="password"]:focus,
.RegistrerForm input[type="tel"]:focus,
.RegistrerForm select:focus,
.RegistrerForm input[type="date"]:focus {
    background-color: #ddd;
    outline: none;
}

.RegistrerForm .hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Buttons should be easy to tap on mobile */
.RegistrerForm .registerbtn {
    background-color: #f9d9d8;
    color: #5a0032;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
    width: 100%; /* Make button full width to ensure easy tapping */
    padding: 0.875rem 1rem;
    transition: 0.5s linear;
}

.RegistrerForm .registerbtn:hover {
    opacity: 1;
}

.RegistrerForm .a {
    color: dodgerblue;
}

.RegistrerForm .signin {
    background-color: #f1f1f1;
    text-align: center;
}

/* Responsive adjustments for tablet screens and down */
@media (max-width: 1200px) {
    /* All form controls stack vertically */
    .RegistrerForm .form-control {
        width: 100%;
        margin-bottom: 20px; /* Add space between elements */
    }
}

/* Mobile specific adjustments */
@media (max-width: 768px) {
    /* Adjust padding for smaller screen sizes */
    .RegistrerForm .container {
        padding: 12px;
    }

    .RegistrerForm .registerbtn {
        padding: 1rem; /* Increase padding for better touch area */
    }
}
